<head>
  <link rel="stylesheet" type="text/css" href="./static/main.css">
</head>
<!--
<form method="post" enctype="multipart/form-data" action="/">
  <div>
    <label for="source_target_uploads">Choose file for Source-Target Mapping (Excel)</label>
    <input type="file" id="source_target_uploads" name="source_target_uploads" accept="'.xlsx', '.xlsm', '.xslt', '.xltm'">
  </div>
  <div>
    <label for="mapped_file_uploads">Choose file(s) to be mapped (TXT, CSV, Excel, Zip)</label>
    <input type="file" id="mapped_file_uploads" name="mapped_file_uploads" accept="'.xlsx', '.xlsm', '.xslt', '.xltm', '.txt', '.csv', '.zip'">
  </div>
  <div>
    <button>Submit</button>
  </div>
</form>
-->


 <title>Upload new File</title>
 <h1>Upload new File</h1>
 <form method=post enctype=multipart/form-data>
   <input type=file name=file>
   <input type=submit value=Upload>
 </form>
<!--
<script src="./static/main.js"></script>
-->
